In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup

In [2]:
webdriver_service = Service('/path/to/chromedriver')

In [5]:
options = Options()
options.add_argument("--headless")
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

In [6]:
driver = webdriver.Chrome(service=webdriver_service,  options=options)

In [7]:
driver.get('https://top-1000-sekolah.ltmpt.ac.id/?page=1&per-page=100&sort=rank_nas')

In [11]:
page_source = driver.page_source

In [12]:
soup = BeautifulSoup(page_source, 'html.parser')

In [15]:
data = []
table_rows = soup.select('#w0 > table > tbody tr')
for row in table_rows:
    rangking = row.select_one('td:nth-child(1)').get_text()
    peringkat = row.select_one('td:nth-child(2)').get_text()
    npsn = row.select_one('td:nth-child(3)').get_text()
    nama_sekolah = row.select_one('td:nth-child(4)').get_text()
    nilai_total = row.select_one('td:nth-child(5)').get_text()
    provinsi = row.select_one('td:nth-child(6)').get_text()
    kota_kab = row.select_one('td:nth-child(7)').get_text()
    jenis = row.select_one('td:nth-child(8)').get_text()
    
    data.append({
        'Rangking' : rangking,
        'Peringkat': peringkat,
        'NPSN' : npsn,
        'nama_sekolah': nama_sekolah,
        'Nilai_Total' : nilai_total,
        'Provinsi' : provinsi,
        'Kota/Kab.': kota_kab,
        'Jenis': jenis,
    })

In [16]:
driver.quit()

In [17]:
df = pd.DataFrame(data)

In [18]:
print(df)

   Rangking Peringkat      NPSN                          nama_sekolah  \
0         1            20623314     MAN INSAN CENDEKIA SERPONG More..
1         2        11  20532145         SMA KATOLIK ST.LOUIS 1 More..
2         3         -  69978389         SMA PRADITA DIRGANTARA More..
3         4        30  69941723  MAN INSAN CENDEKIA PEKALONGAN More..
4         5        -2  20102568                 SMAN 8 JAKARTA More..
..      ...       ...       ...                                   ...
95       96        67  20103292               SMAN 103 JAKARTA More..
96       97       -60  20107304  SMAS ISLAM AL-AZHAR 1 JAKARTA More..
97       98        50  10259371         SMAS METHODIST 3 MEDAN More..
98       99        70  20238524                 SMK-SMAK BOGOR More..
99      100       116  20102571                SMAN 66 JAKARTA More..

   Nilai_Total              Provinsi               Kota/Kab. Jenis
0      666,494          Prov. Banten  Kota Tangerang Selatan    MA
1      641,482      Prov. Jawa Timur           Kota Surabaya   SMA
2      640,747     Prov. Jawa Tengah           Kab. Boyolali   SMA
3      637,499     Prov. Jawa Tengah         Kota Pekalongan    MA
4      635,347  Prov. D.K.I. Jakarta    Kota Jakarta Selatan   SMA
..         ...                   ...                     ...   ...
95     580,890  Prov. D.K.I. Jakarta      Kota Jakarta Timur   SMA
96     580,574  Prov. D.K.I. Jakarta    Kota Jakarta Selatan   SMA
97     580,203  Prov. Sumatera Utara              Kota Medan   SMA
98     580,148      Prov. Jawa Barat              Kota Bogor   SMK
99     580,146  Prov. D.K.I. Jakarta    Kota Jakarta Selatan   SMA

[100 rows x 8 columns]

In [19]:
df.to_excel('sekolah.xlsx', index=False)